<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    {% comment %} {% for locate in location %}
    {{locate.id}}
    {{locate.name1}}
    {{locate.name2}}
    {{locate.price}}
    {{locate.satta_bara_no}}
    {{locate.x_coords}}
    {{locate.y_coords}}
    {% endfor %} {% endcomment %}
    {{location}}
    {{location.id}}
    {{location.name2}}
    {{location.price}}
    {{location.satta_bara_no}}
</body>
</html>